.index-body{
	background-color:#E8E8E8;
	overflow-x: hidden;
}
body{
	background-color:#E8E8E8;
}

.login-box{
	width:300px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:white;
}
.login-box h1{
	float:left;
	font-size:40px;
	border-bottom:6px solid #4caf50;
	margin-bottom:50px;
	padding:30px 0;
}
.textbook{
	width:100%;
	overflow:hidden;
	font-size:20px;
	padding:8px 0;
	margin:8px 0;
	border-bottom:1px solid #4caf50;
}
.textbook i{
	width:26px;
	float:left;
	text-align:center;
}
.textbook input{
	border:none;
	background:none;
	outline:none;
	color:white;
	font-size:18px;
	width:80%;
	float:left;
	margin:0 10px;
}
.btn{
	width: 100%;
	background:none;
	border:2px solid #4caf50;
	color:white;
	padding:5px;
	font-size:18px;
	cursor:pointer;
	margin:12px 0;
}

#text{
	border-left:none;
    border-right:none;
	height: 25px;
	padding: 4px;
	width : 100%;
	border:none;
	fill: none;
    font-size: 18px;
	background:transparent;
}
h1 span{
	background-color:red;
}
.profile-box{
	background-color: rgb(141, 134, 207);
	position: relative;
	top:100px;
	margin: auto;
	width: 520px;
	height:580px;
	padding: 30px;
}
.main-header{
	background-image: url("images/bench-accounting-nvzvOPQW0gc-unsplash-croppped.jpg");
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	height:900px;
}
.main-header-2-img{
	position:relative;
	float: left;
	height:400px;
	width:350px;
	left:100px;
}
.logo{
	position: relative;
	top:5px;
	left:-240px;
	width:200px;
}
.main-header-2{
	text-align: center;
	height:500px;
}
a{
	color:black;
	text-decoration: none;
}

hr{
	height: 1px;
	background-color: white;
	border: none;
}
.grid-container {
	position: relative;
	display: grid;
    grid-template-columns: 1fr 5fr;
	grid-gap: 20px;
	
}
.grid-child-sidebar{
	position: relative;
	color:black;
	height: 400px;
	left:70px;
}
.grid-child-content{
	text-align: left;
	background-color:lightgrey;
	text-indent:size;
	width : 1200px;
	min-height: 100%;
	
}
.img{
	position: absolute;
	left: 100px;
    top: 0;
    height: 400px;
    width: 100px;
    background-size: cover;
    padding: 0px;
}
.footer-dark {
	position: relative;
	left:-200px;
	width: 1500px;
	height: 300px;
	padding:50px 0;
	color:#f0f9ff;
	background-color:#282d32;
}

.footer-dark h3 {
	margin-top:0;
	margin-bottom:12px;
	font-weight:bold;
	font-size:16px;
}

.footer-dark ul {
	padding:0;
	list-style:none;
	line-height:1.6;
	font-size:14px;
	margin-bottom:0;
}

.footer-dark ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.6;
}

.footer-dark ul a:hover {
	opacity:0.8;
}

.footer-dark .item.text {
	margin-bottom:36px;
}

.footer-dark .item.text p {
	opacity:0.6;
	margin-bottom:0;
}

.footer-dark .item.social {
	text-align:center;
}

.footer-dark .item.social > a {
	font-size:20px;
	width:36px;
	height:36px;
	line-height:36px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	box-shadow:0 0 0 1px rgba(255,255,255,0.4);
	margin:0 8px;
	color:#fff;
	opacity:0.75;
}

.footer-dark .item.social > a:hover {
	opacity:0.9;
}

.footer-dark .copyright {
	text-align:center;
	padding-top:24px;
	opacity:0.3;
	font-size:13px;
	margin-bottom:0;
}

.wrap {
	margin: 50px auto auto;
	width: 100%;
	align-items: space-around;
	max-width: 1100px;
}

.title {
	width: 350px;
	height: 250px;
	margin-inline-end: 10px;
	background-color: #433d3c;
	display: inline-block;
	background-size: cover;
	position: relative;
	cursor: pointer;
	transition: all 0.4s ease-out;
	box-shadow: 0 35px 77px -17px rgba(0,0,0,0.7);
	overflow: hidden;
	color: white;
}

.title img {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	transition: all 0.4s ease-out; 
}

.title .text {
	position: absolute;
	padding: 30px;
	height: calc(100% - 60px);
}

.title h1 {
	font-weight: 500;
	font-family: sans-serif;
	text-transform: uppercase;
	text-shadow: 2px 2px 10px rgba(0,0,0,.3);
}

.title p {
	font-family: sans-serif;
	margin: 40px 0 0 0;
	transform: translateX(-200px);
}

.para {
	opacity: 0;
	transition: all 0.6s ease-in-out;
}

.title:hover {
	box-shadow: 0px 35px 190px -17px rgba(0,0,0,0.64);
	transform: scale(1.05);
}

.title:hover img {
	opacity: .2;
}

.title:hover .para {
	transform: translateX(0);
	opacity: 1;
}

.code-snippet{	
	margin:2px;
	position: relative;
	background-color:white;
}

.code{
	text-indent: 3em;
	color: black;
}

/*gist*/
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

body .gist .gist-file {
  margin-bottom: 0;
  border: 1px dashed #adb5bd;
  border-radius: 0;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  background-color: #f1f3f5;
}

body .gist .blob-wrapper {
  border-radius: 0;
}

body .gist .highlight {
  background-color: transparent;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 14px;
}

body .gist .highlight td {
  padding: 5px 15px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

body .gist tr:first-child td {
  padding-top: 15px !important;
}

body .gist tr:last-child td {
  padding-bottom: 15px !important;
}

body .gist .blob-num {
  color: #ced4da;
  background-color: #495057;
  pointer-events: none;
}

body .gist .gist-meta {
  display: none;
}

/*signup-login*/
.signup-body{
	background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
	background-attachment: fixed;
}
/*down-arrow*/
.arrow {
	position: relative;
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 5px;
	bottom:4px;
}
.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
/* dropdown*/
.dropdown {
	position: relative;
  	display: inline-block;
}
.dropdown-content {
	display: none;
	position: relative;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
	z-index: 1;
}
  
.dropdown:hover   .dropdown-content {
	display: block;
}


  
